body{
    background-color: white;
    margin: 0rem;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
}

.containerHeader{
    color: black;
    flex-direction: row;
    display: flex;
    text-align: right;
    justify-content: right;
    height: 3.75rem;
    padding: .375rem;
    font-size: .8125rem;
}

#imagesOption{
    margin: .9375rem;
}

#imagesOption a{
    text-decoration: none;
    color: black;
}

#appsOptions{
    margin-top: .625rem;
    margin-left: .9375rem;
    margin-right: .1875rem;
   
}

#fotoOptions{
    margin-top: .4375rem;
    margin-left: .9375rem;
    margin-right: .625rem;   
}

#fotoOptionsRadius{
    border-radius: 1.25rem;
}

.containerGoogleLogo{
    margin-top: 5.625rem;
    text-align: center;
    height: 6.25rem;
    
}

.containerSearch{
    text-align: center;
    padding: 1.25rem;
    height: 10rem;
}

#barradepesquisa{
    display: flex;
    border-radius: 1.875rem;
    border:  1px solid #d8d8d8;
    width: 36.375rem;   
    height: 35px;
    margin-left: 28.125rem;
    padding-top: 5px;
    padding-left: 14px;
    padding-right: 8px;
}

#barradepesquisa:hover{
   box-shadow: 0px 0px 3px 3px rgba(199, 199, 199, 0.2);
}

#butoesPequisa{
    margin-top: .625rem;
    padding: 1.125rem;
}

#butoesPequisa button{
    height: 36px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 8px;
    border-color: white;
    border-style: none;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #F8F9FA;
}

#butoesPequisa a{
  text-decoration: none;
}

#butoesPequisa button:hover{
  box-shadow: 0px 0px 3px 3px rgba(202, 202, 202, 0.2);
}

#pesquisaIcons{
    margin-top: 4px;
}

#campoInput{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 27.9375rem;
    margin-bottom: .3125rem;
    margin-left: .3125rem;
}

#tecladoIcon{
    margin-top: 3px;
    margin-left: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

#micIcon{
    margin-top: 3px;
    margin-left: 5px;
    padding-left: 8px;
    padding-right: 8px; 
}

.containerLanguage{
    color: #3c4043;
    text-align: center;
    font-size: 13px;
    height: 194px;
}

#languagetxt a{
    color: blue;
    text-decoration: none;
}

/*Footer */
footer {
    background-color: #F2F2F2;
}

#brasil{
    font-size: .875rem;
    height: 1.0625rem;
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    color: rgb(169, 172, 174);
    border-bottom: 0.5px solid rgb(226, 226, 226);

}

#footer{
    display: flex;
    height: 2.875rem;
    padding-left: 1.25rem;
}

.footer{
    display: flex;
}

#divFooterOptions{
    font-size: .875rem;
    padding: .9375rem;
    color: rgb(169, 172, 174);
}

#divFooterOptions a{
    text-decoration: none;
    color: rgb(169, 172, 174);
}

#divFooterOptions:hover{
    text-decoration: underline;
    
}

#footer2{
  margin-left: 740px;
}

